@model IEnumerable<eShopSolution.Web.Models.RoomAndTableViewModel>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tên Phòng/Bàn</th>
            <th>Ghi chú</th>
            <th>Khu vực</th>
            <th>Số ghế</th>
            <th>Trạng thái</th>
            <th>Số thứ tự</th>
            <th>QR code</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var roomAndTable in Model)
            {
                <tr>
                    <td>@roomAndTable.Name</td>
                    <td>@roomAndTable.Note</td>
                    <td>@roomAndTable.Area</td>
                    <td>@roomAndTable.Quantity</td>
                    <td>@roomAndTable.StatusName</td>
                    <td>@roomAndTable.OrdinalNumber</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-id="@roomAndTable.Id" onclick="generateQRCode(this)">Tạo QR</button>
                        <div id="qrcode-@roomAndTable.Id" class="mt-2"></div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Không có phòng bàn nào .</td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/qrcode.min.js"></script>

<script>
    function generateQRCode(button) {
        var id = button.getAttribute('data-id');
        var url = 'https://localhost:44393/Table?Id=' + id;
        var qrcodeDiv = document.getElementById('qrcode-' + id);
        qrcodeDiv.innerHTML = '';
        QRCode.toDataURL(url, function (err, url) {
            if (err) console.error(err);
            var img = document.createElement('img');
            img.src = url;
            img.alt = 'QR code';
            img.width = 150; 
            qrcodeDiv.appendChild(img);
        });
    }

</script>

