@model eShopSolution.Web.Models.CheckoutViewModel

<h2>Chi tiết đơn hàng</h2>

@if (Model != null)
{
<h2 class="mb-4 col-sm-10">Tên bàn: @Model.banName</h2>
}
<p>Thời gian đặt: @Model.OrderTime.ToString("dd/MM/yyyy HH:mm")</p>

<table class="table">
    <tr>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
        <th>Thành tiền</th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
    <tr>
        <td>@item.product.Name</td>
        <td>@item.quantity</td>
        <td>@(item.product.Price.ToString("n0"))</td>
        <td>@(item.ThanhTien.ToString("n0"))</td> 
    </tr>
    }
</table>
<p class="font-weight-bold">Tổng tiền: @(Model.TotalAmount.ToString("n0"))</p> 
<a class="btn btn-primary" id="confirmOrder">Xác nhận đơn hàng</a>
