@model List<OrderIndexViewModel>

<h2>Quản lý đơn hàng</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Bàn</th>
            <th>Tổng tiền</th>
            <th>Thời gian đặt</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.RoomAndTableId</td>
                <td>@order.TotalAmount</td>
                <td>@order.OrderTime</td>
                <td>
                    <a href="@Url.Action("Details", "AdminOrder", new { id = order.Id })">Chi tiết</a>
                    <form asp-action="UpdateStatus" method="post">
                        <input type="hidden" name="id" value="@order.Id" />

                        <button type="submit">Cập nhật</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
